[submodule "3rd_party/scalesim"]
	path = 3rd_party/scalesim
	url = git@github.com:dubcyfor3/SCALE-Sim.git
[submodule "3rd_party/cacti"]
	path = 3rd_party/cacti
	url = git@github.com:HewlettPackard/cacti.git
[submodule "3rd_party/DRAMsim3"]
	path = 3rd_party/DRAMsim3
	url = git@github.com:umd-memsys/DRAMsim3.git
[submodule "3rd_party/LLaVA-NeXT"]
	path = 3rd_party/LLaVA-NeXT
	url = git@github.com:LLaVA-VL/LLaVA-NeXT.git
